h1 {
  text-align: center;
  font-family: helvetica, sans serif;
  font-size: 3em;
}

.board {
  width: 600px;
  height: 600px;
  margin: auto;
  border: 2px solid grey;

}

#square1, #square2, #square3,
#square4, #square5, #square6,
#square7, #square8, #square9 {
  width: 196px;
  height: 196px;
  float: left;
  border: 2px solid grey;
  overflow: hidden;
}

.refresh {
  padding: 20px 0;
  background-color: black;
  color: white;
  font-size: 3em;
  border: none;
  width: 100%;
  margin: 10px 0;
}

.winner1, .winner2 {
  display: none;
  margin: auto;
}
